.nav-button {
  font-size: 14px;
  /* Tamaño de letra más pequeño */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(134, 40, 40, 0.05)
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 0.85em;
  max-width: 1200px;
  margin: 0 auto;
  /* Reducir el tamaño de la fuente */
}

.footer-column {
  flex: 1;
  padding: 0 10px;
  /* Reducir el padding */
}

.footer-column h3 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1em;
  /* Reducir el tamaño del encabezado */
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  font-size: 12px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
  font-size: 14px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-images img {
  margin-left: 10px;
}