<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/team_IA.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/image/iconosamsung.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">



</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/image/logo-sg.png" alt="logo" style="height: 20px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav navbar-nav-left flex-grow-1 d-flex">

                        <ul class="nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark nav-button" href="#"> <strong>Tienda Online</strong></a>
                                <div class="dropdown-content">
                                    <div class="row">
                                        <div class="column">
                                            <h4>Ofertas destacadas</h4>
                                            <a href="#">Todas las ofertas</a>
                                            <a href="#">Live</a>
                                            <a href="#">Zona Outlet</a>
                                            <a href="#">Preventa Samsung AI TV</a>
                                            <a href="#">Combos TV</a>
                                            <a href="#">Arma tu combo</a>
                                            <a href="#">Ofertas Móviles</a>
                                            <a href="#">Ofertas TV & Audio</a>
                                            <a href="#">Ofertas Línea Blanca</a>
                                            <a href="#">Ofertas Monitores</a>
                                            <a href="#">Combo Móviles</a>
                                        </div>
                                        <div class="column">
                                            <h4>Nuevos y destacados</h4>
                                            <a href="#">Game Portal</a>
                                            <a href="#">Pet Lovers</a>
                                            <a href="#">Samsung Shop APP</a>
                                            <a href="#">Samsung Health</a>
                                            <a href="#">Tecnología AI</a>
                                            <a href="#">SmartThings</a>
                                            <a href="#">Galaxy eCard A55/A35</a>
                                            <a href="#">Samsung DeX</a>
                                        </div>
                                        <div class="column">
                                            <h4>Elige Samsung.com</h4>
                                            <a href="#">Members VIP</a>
                                            <a href="#">Beneficios</a>
                                            <a href="#">Samsung Rewards</a>
                                            <a href="#">Trade-In : Plan Canje Mobile</a>
                                            <a href="#">Samsung Care +</a>
                                            <a href="#">Trade-Up : Ecocanje TV & Línea blanca</a>
                                            <a href="#">Instalación Premium</a>
                                            <a href="#">Cuotas sin intereses</a>
                                            <a href="#">Recoge en tienda</a>
                                        </div>
                                        <div class="column">
                                            <h4>Beneficios</h4>
                                            <a href="#">Ofertas exclusivas para estudiantes</a>
                                            <a href="#">Ofertas para empleados corporativos</a>
                                            <a href="#">Ofertas para empresas</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>


                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index">
                                <strong>AI</strong>
                            </a>
                        </li>





                        <li class="nav-item"><a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index"><strong>Móviles</strong></a></li>
                        <li class="nav-item"><a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index"><strong>TV y Audio</strong></a></li>
                        <li class="nav-item"><a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index"><strong>Línea Blanca</strong></a></li>
                        <li class="nav-item"><a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index"><strong>Monitores</strong></a></li>
                        <li class="nav-item"><a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index"><strong>Accesorios</strong></a></li>
                        <li class="nav-item"><a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index"><strong>SmartThings</strong></a></li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right d-flex">
                        <li class="nav-item support-enterprise"><a class="nav-link text-dark nav-button" asp-area=""
                                asp-controller="Home" asp-action="Privacy"><strong>Soporte</strong></a></li>
                        <li class="nav-item support-enterprise"><a class="nav-link text-dark nav-button" asp-area=""
                                asp-controller="Home" asp-action="Index"><strong>Para Empresas</strong></a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index">
                                <span class="material-icons-outlined">search</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index">
                                <span class="material-icons-outlined">shopping_cart</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home"
                                asp-action="Index">
                                <span class="material-icons-outlined">person</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Botón flotante para abrir el chatbot -->
    <button class="chat-button" onclick="toggleChatbot()">💬</button>

    <!-- Iframe del chatbot -->
    <iframe class="chatbot-iframe"
        src="https://console.dialogflow.com/api-client/demo/embedded/6e3643ff-4be1-4418-8412-7812e444a4e0"
        allow="microphone;" onload="styleChatbotHeader()"></iframe>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                &copy; Copyright© 1995-2024 Samsung. Todos los derechos reservados.
                Samsung Electronics Perú S.A.C RUC: 20300263578
                
            </div>
            <div class="footer-images">
                <img src="~/image/1ero-los-clientes.jpg" alt="Imagen 1" class="footer-image"
                    style="width: 90px; height:56">
                <img src="~/image/libro-de-reclamaciones_1.jpg" alt="Imagen 2" class="footer-image"
                    style="width: 90px; height: 60px;">
                <img src="~/image/qrsamsung_1.jpg" alt="Imagen 3" class="footer-image"
                    style="width: 200px; height: 60px;">
            </div>

        </div>
    </footer>

    <script>
        function toggleChatbot() {
            var iframe = document.querySelector('.chatbot-iframe');
            if (iframe.style.display === 'none' || iframe.style.display === '') {
                iframe.style.display = 'block';
            } else {
                iframe.style.display = 'none';
            }
        }

        function styleChatbotHeader() {
            var iframe = document.querySelector('.chatbot-iframe');
            var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;

            var header = iframeDocument.querySelector('.header-class'); // Cambia '.header-class' a la clase real del encabezado
            if (header) {
                header.style.backgroundColor = '#FF5733'; // Cambia el color aquí
                header.style.color = 'white'; // Si también quieres cambiar el color del texto
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
