@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <!-- Video 1 y 2 -->
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="d-block w-100" autoplay loop muted>
                    <source src="image/car1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="d-block w-100" autoplay loop muted>
                    <source src="image/car2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <!-- Imagen 1 -->
        <div class="carousel-item" data-bs-interval="5000">
            <img src="image/car3.jpg" class="d-block w-100" alt="...">
        </div>
        <!-- Imagen 2 -->
        <div class="carousel-item" data-bs-interval="5000">
            <img src="image/car4.jpg" class="d-block w-100" alt="...">
        </div>
        <!-- Imagen 3 -->
        <div class="carousel-item" data-bs-interval="5000">
            <img src="image/car5.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="ofertas">
    <div class="titulo">
        <h2 class="txtTitulo">
            Ofertas y Novedades
        </h2>
    </div>
    <div class="tab-item">
        <button class="tab_btn">Destacados</button>
        <button class="tab_btn">Móviles</button>
        <button class="tab_btn">TV & AV</button>
        <button class="tab_btn">Línea Blanca</button>
        <button class="tab_btn">Nuevos Lanzamientos</button>
    </div>
</div>