@{
    ViewData["Title"] = "Samsung Perú | SmartPhones | Tablets | TV & AV | ElectroHogar ";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/index.css">
    </head>
    <body>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
            <!-- Video 1 y 2 -->
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="d-block w-100" autoplay loop muted>
                        <source src="image/car1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="d-block w-100" autoplay loop muted>
                        <source src="image/car2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <!-- Imagen 1 -->
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/car3.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- Imagen 2 -->
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/car4.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- Imagen 3 -->
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/car5.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div class="ofertas">
        <div class="titulo">
            <h2 class="txtTitulo">
                Ofertas y Novedades
            </h2>
        </div>
        <div class="container-tab">
            
            <div class="tab-item">
            <button class="tab_btn active">Destacados</button>
            <button class="tab_btn">Móviles</button>
            <button class="tab_btn">TV & AV</button>
            <button class="tab_btn">Línea Blanca</button>
            <div class="line"></div>
            </div>
            <div class="content-tab">
                <div class="content active">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG15.jpg" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG15.jpg" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG11.png" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG11.png" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="mobile">
        <div class="titulo">
            <h2 class="txtTitulo">
                Mobile
            </h2>
        </div>
        <div class="container-tab-mobile">
            
            <div class="tab-item-mobile">
            <button class="tab_btn_mobile tab3 active2" data-bg="image/cel1.png" >Galaxy S24 Ultra</button>
            <button class="tab_btn_mobile tab3" data-bg="image/cel2.png">Galaxy S24|S24+</button>
            <button class="tab_btn_mobile tab3" data-bg="image/cel3.png">Series Galaxy Tab S9</button>
            <button class="tab_btn_mobile tab3" data-bg="image/cel4.png">Galaxy Watch6|Watch6 Classic</button>
            <div class="line2"></div>
            </div>
            <div class="content-tab2">
                <div class="content2 active2" >
                    <div class="gallery2">
                        <div>
                            <p class="p1"> <h2>GalaxyGalaxy S24 Ultra </h2></p>
                            <p class="p2"> <strong>¡Comenzó la Galaxy Week!</strong> Tu S24 Ultra y S24+ viene con un Watch6 sin costo estra! Además, acumula dsctos. con Plan Canje Galaxy.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content2">
                    <div class="gallery2">
                        <div>
                            <p> </p>
                            <p class="p1"> <h2>Galaxy S24|S24+</h2></p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content2 ">
                    <div class="gallery2">
                        <div>
                            <p class="p1"> <h2>Nueva Serie Galaxy Tab S9</h2></p>
                            <p class="p2"> Experimenta el nuevo estándar de tabletas prémium.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content2">
                    <div class="gallery2">
                        <div>
                            <p class="p1"> <h2>Nuevos Galaxy Watch6|Watch6 Classic</h2></p>
                            <p class="p2"> Comienza tu viaje de bienestar diario.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>

    <script>
        const tabs = document.querySelectorAll('.tab_btn');
        const all_content = document.querySelectorAll('.content');

        tabs.forEach((tab, index)=>{
            tab.addEventListener('click', (e)=>{
                tabs.forEach(tab=>{tab.classList.remove('active')});
                tab.classList.add('active');

                var line=document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content=>{content.classList.remove('active')});
            all_content[index].classList.add('active');
            })
        })
    </script>

    <script>
        const tabs2 = document.querySelectorAll('.tab_btn_mobile');
        const all_content2 = document.querySelectorAll('.content2');

        tabs2.forEach((tab, index)=>{
            tab.addEventListener('click', (e)=>{
                tabs2.forEach(tab=>{tab.classList.remove('active2')});
                tab.classList.add('active2');

                var line2=document.querySelector('.line2');
            line2.style.width = e.target.offsetWidth + "px";
            line2.style.left = e.target.offsetLeft + "px";

            all_content2.forEach(content=>{content.classList.remove('active2')});
            all_content2[index].classList.add('active2');
            })
        })

    
    </script>

    <script>
    const tabs3 = document.querySelectorAll('.tab3');
    const mobileContainer = document.querySelector('.mobile');

    tabs3.forEach(tab => {
        tab.addEventListener('click', (e) => {
            const bgImage = e.target.getAttribute('data-bg');
            mobileContainer.style.backgroundImage = `url(${bgImage})`;
        });
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const defaultBgImage = document.querySelector('.tab3.active2').getAttribute('data-bg');
        mobileContainer.style.backgroundImage = `url(${defaultBgImage})`;
    });
    </script>




    </body>
</html>

