@{
    ViewData["Title"] = "Samsung Perú | SmartPhones | Tablets | TV & AV | ElectroHogar ";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/index.css">
    </head>
    <body class="home">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
            <!-- Video 1 y 2 -->
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="d-block w-100" autoplay loop muted>
                        <source src="image/car1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="d-block w-100" autoplay loop muted>
                        <source src="image/car2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <!-- Imagen 1 -->
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/car3.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- Imagen 2 -->
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/car4.jpg" class="d-block w-100" alt="...">
            </div>
            <!-- Imagen 3 -->
            <div class="carousel-item" data-bs-interval="5000">
                <img src="image/car5.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div class="ofertas">
        <div class="titulo">
            <h2 class="txtTitulo">
                Ofertas y Novedades
            </h2>
        </div>
        <div class="container-tab">
            
            <div class="tab-item">
            <button class="tab_btn active">Destacados</button>
            <button class="tab_btn">Móviles</button>
            <button class="tab_btn">TV & AV</button>
            <button class="tab_btn">Línea Blanca</button>
            <div class="line"></div>
            </div>
            <div class="content-tab">
                <div class="content active">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG15.jpg" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG15.jpg" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG11.png" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gallery">
                        <div class="left-image">
                            <img src="image/IMG11.png" alt="Imagen 1">
                        </div>
                        <div class="right-images">
                            <div class="grid">
                            <div class="grid-item">
                                <img src="image/IMG1.png" alt="Imagen 2">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG12.png" alt="Imagen 3">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG13.png" alt="Imagen 4">
                            </div>
                            <div class="grid-item">
                                <img src="image/IMG14.png" alt="Imagen 5">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="mobile">
        <div class="titulo">
            <h2 class="txtTitulo">
                Mobile
            </h2>
        </div>
        <div class="container-tab-mobile">
            
            <div class="tab-item-mobile">
            <button class="tab_btn_mobile tab3 active2" data-bg="image/cel1.png" >Galaxy S24 Ultra</button>
            <button class="tab_btn_mobile tab3" data-bg="image/cel2.png">Galaxy S24|S24+</button>
            <button class="tab_btn_mobile tab3" data-bg="image/cel3.png">Series Galaxy Tab S9</button>
            <button class="tab_btn_mobile tab3" data-bg="image/cel4.png">Galaxy Watch6|Watch6 Classic</button>
            <div class="line2"></div>
            </div>
            <div class="content-tab2">
                <div class="content2 active2" >
                    <div class="gallery2">
                        <div>
                            <p class="p1"> <h2>GalaxyGalaxy S24 Ultra </h2></p>
                            <p class="p2"> <strong>¡Comenzó la Galaxy Week!</strong> Tu S24 Ultra y S24+ viene con un Watch6 sin costo estra! Además, acumula dsctos. con Plan Canje Galaxy.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content2">
                    <div class="gallery2">
                        <div>
                            <p> </p>
                            <p class="p1"> <h2>Galaxy S24|S24+</h2></p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content2 ">
                    <div class="gallery2">
                        <div>
                            <p class="p1"> <h2>Nueva Serie Galaxy Tab S9</h2></p>
                            <p class="p2"> Experimenta el nuevo estándar de tabletas prémium.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content2">
                    <div class="gallery2">
                        <div>
                            <p class="p1"> <h2>Nuevos Galaxy Watch6|Watch6 Classic</h2></p>
                            <p class="p2"> Comienza tu viaje de bienestar diario.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>

    <div class="tv">
        <div class="titulo">
            <h2 class="txtTitulo">
                Mobile
            </h2>
        </div>
        <div class="container-tab-tv">
            
            <div class="tab-item-tv">
            <button class="tab_btn_tv tab4 active3" data-bg="image/tv1.png" >Neo QLED 8K</button>
            <button class="tab_btn_tv tab4" data-bg="image/tv2.png">OLED</button>
            <button class="tab_btn_tv tab4" data-bg="image/tv3.png">The Frame</button>
            <button class="tab_btn_tv tab4" data-bg="image/tv4.png">Music Frame</button>
            <div class="line3"></div>
            </div>
            <div class="content-tab3">
                <div class="content3 active3" >
                    <div class="gallery3">
                        <div>
                            <p class="p1"> <h2>Neo QLED 8K</h2></p>
                            <p class="p2"> <strong>¡Comenzó la Galaxy Week!</strong> Tu S24 Ultra y S24+ viene con un Watch6 sin costo estra! Además, acumula dsctos. con Plan Canje Galaxy.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content3">
                    <div class="gallery3">
                        <div>
                            <p> </p>
                            <p class="p1"> <h2>OLED</h2></p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content3">
                    <div class="gallery3">
                        <div>
                            <p class="p1"> <h2>The Frame</h2></p>
                            <p class="p2"> Experimenta el nuevo estándar de tabletas prémium.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content3">
                    <div class="gallery3">
                        <div>
                            <p class="p1"> <h2>Music Frame</h2></p>
                            <p class="p2"> Comienza tu viaje de bienestar diario.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>

    <div class="lb">
        <div class="titulo">
            <h2 class="txtTitulo">
                Mobile
            </h2>
        </div>
        <div class="container-tab-lb">
            
            <div class="tab-item-lb">
            <button class="tab_btn_lb tab5 active4" data-bg="image/tv1.png" >Neo QLED 8K</button>
            <button class="tab_btn_lb tab5" data-bg="image/tv2.png">OLED</button>
            <button class="tab_btn_lb tab5" data-bg="image/tv3.png">The Frame</button>
            <button class="tab_btn_lb tab5" data-bg="image/tv4.png">Music Frame</button>
            <div class="line4"></div>
            </div>
            <div class="content-tab4">
                <div class="content4 active4" >
                    <div class="gallery4">
                        <div>
                            <p class="p1"> <h2>Neo QLED 8K</h2></p>
                            <p class="p2"> <strong>¡Comenzó la Galaxy Week!</strong> Tu S24 Ultra y S24+ viene con un Watch6 sin costo estra! Además, acumula dsctos. con Plan Canje Galaxy.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content4">
                    <div class="gallery4">
                        <div>
                            <p> </p>
                            <p class="p1"> <h2>OLED</h2></p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content4">
                    <div class="gallery4">
                        <div>
                            <p class="p1"> <h2>The Frame</h2></p>
                            <p class="p2"> Experimenta el nuevo estándar de tabletas prémium.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                <div class="content4">
                    <div class="gallery4">
                        <div>
                            <p class="p1"> <h2>Music Frame</h2></p>
                            <p class="p2"> Comienza tu viaje de bienestar diario.</p>
                            <p class="p3"><link rel="stylesheet" href="">Mas información <button>Compra ahora</button></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>

   <div class="containercard">
        <div class="product-card">
            <img src="https://dummyimage.com/250x250/000/fff&text=Galaxy+Buds+FE" alt="Galaxy Buds FE" class="product-image">
            <div class="product-title">Galaxy Buds FE</div>
            <div class="product-description">Color: Graphite</div>
            <div class="color-options">
                <div class="color-option active" style="background-color: #333;"></div>
                <div class="color-option" style="background-color: #fff;"></div>
            </div>
            <div class="product-price">S/ 299.00</div>
            <div class="product-price-details">S/ 349.00 Ahorra s/ 50.00</div>
            <div class="product-price-details">Desde s/24.92 al mes en 12 cuotas sin intereses* o</div>
            <div class="product-price-details">*Aplican condiciones</div>
            <button class="product-button">Comprar ahora</button>
        </div>

        <div class="product-card">
            <img src="https://dummyimage.com/250x250/000/fff&text=Galaxy+A55+5G" alt="Galaxy A55 5G" class="product-image">
            <div class="product-title">Galaxy A55 5G</div>
            <div class="product-description">Color: Awesome Navy</div>
            <div class="color-options">
                <div class="color-option activecard" style="background-color: #333;"></div>
                <div class="color-option" style="background-color: #ccc;"></div>
                <div class="color-option" style="background-color: #f0f0f0;"></div>
            </div>
            <div class="product-price">S/ 1,899.00</div>
            <div class="product-price-details">Desde s/158.25 al mes en 12 cuotas sin intereses* o</div>
            <div class="product-price-details">*Aplican condiciones</div>
            <button class="product-button">Comprar ahora</button>
        </div>

        <div class="product-card">
            <img src="https://dummyimage.com/250x250/000/fff&text=Galaxy+Fit3" alt="Galaxy Fit3" class="product-image">
            <div class="product-title">Galaxy Fit3</div>
            <div class="product-description">Color: Dark Gray</div>
            <div class="color-options">
                <div class="color-option activecard" style="background-color: #333;"></div>
                <div class="color-option" style="background-color: #ccc;"></div>
                <div class="color-option" style="background-color: #f0f0f0;"></div>
            </div>
            <div class="product-price">S/ 249.00</div>
            <div class="product-price-details">Desde s/20.75 al mes en 12 cuotas sin intereses* o</div>
            <div class="product-price-details">*Aplican condiciones</div>
            <button class="product-button">Comprar ahora</button>
        </div>

        <div class="product-card">
            <img src="https://dummyimage.com/250x250/000/fff&text=75%22+QLED+4K+Q65D+Tizen+OS+Smart+TV+%282024%29" alt="75\" QLED 4K Q65D Tizen OS Smart TV (2024)" class="product-image">
            <div class="product-title">75" QLED 4K Q65D Tizen OS Smart TV (2024)</div>
            <div class="size-options">
                <div class="size-option" style="width: 40px;">55"</div>
                <div class="size-option" style="width: 40px;">65"</div>
                <div class="size-option" style="width: 40px;">70"</div>
                <div class="size-option activecard" style="width: 40px;">75"</div>
            </div>
            <div class="product-price">S/ 4,999.00</div>
            <div class="product-price-details">S/ 5,499.00 Ahorra s/ 500.00</div>
            <div class="product-price-details">Desde s/416.58 al mes en 12 cuotas sin intereses* o</div>
            <div class="product-price-details">*Aplican condiciones</div>
            <button class="product-button">Comprar ahora</button>
        </div>
    </div>

    
    <div>
        <div class="containersearch">
        <div class="search-box">
        <input type="text" placeholder="Search Keyword">
        <button>Buscar</button>
        </div>

        <div class="buttons">
        <button class="button">Galaxy S24 Ultra</button>
        <button class="button">Galaxy Z Fold5</button>
        <button class="button">QLED 8K TV</button>
        <button class="button">98 inch QLED TV</button>
        <button class="button">QuickDrive Washing Machine</button>
        <button class="button">One Door Refrigerator</button>
        </div>

        <p>'Precio aplicando Eco Canje y pagando con tarjetas seleccionadas</p>
        <p>2Precio pagando con tarjetas seleccionadas</p>
        <p>3 Aplicando Plan Canje Galaxy y pagando con tarjetas Interbank.</p>
        <p>4 Aplicando Plan Canje Galaxy y pagando con tarjetas seleccionadas (BBVA, BCP, Interbank, Diners Club).</p>
        <p>5 Aplicando Eco Canje Galaxy y pagando con tarjetas seleccionadas (BBVA, BCP, Interbank, Diners Club)</p>
        <p>*Imagen referencial. En modelos seleccionados de Top Mount Freezer (RT53DB6220ETPE, RT42DG6730S9PE) aplican el descuento por Ecocanje y S/100 por pagar con tarjetas seleccionadas.</p>
        <p>* Imagen simulada. Es necesario iniciar sesión en la cuenta de Samsung para ciertas funciones de IA.</p>
        <p>* Más Información en: https://www.samsung.com/pe/offer/terms-and-conditions/.</p>
        <p>* El Galaxy S24+ comparado con el Galaxy S24.</p>
        <p>* El titanio solo se aplica en el marco del dispositivo. El marco no incluye las teclas de volumen y laterales.</p>
        <p>* Es necesario iniciar sesión en la cuenta de Samsung para acceder a determinadas funciones de IA.</p>
        <p>* Imagen simulada solo con fines ilustrativos. Las UX/UI pueden diferir.</p>
        <p>* El S Pen Fold Edition se vende por separado y solo es compatible con el Z Fold5, el Z Fold4 y el Z Fold3. Flex mode es compatible a ángulos entre 75° y 115°.</p>
    </div>
    </div>
    

</body>
</html>  
   