@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.home{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-tab{
    width: 100%;
    
}

.ofertas .titulo{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.ofertas{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;

}

.tab-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    position: relative;
}


.tab-item .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.tab-item .tab_btn.active{
    color: black;
}

.content-tab{
    padding: 20px;
}

.content-tab .content{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    top{transform: translateX(50px);opacity: 1;}
}

.content-tab .content.active{
    display: block;
}

.line{
    position: absolute;
    top: 50px;
    left: 310px;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.gallery {
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
}
 
.left-image {
    flex-shrink: 0;
}
 
.left-image img {
    width: 570px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
 
.right-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.grid {
    display: grid;
    grid-template-columns: repeat(2, 275px); /* Ajusta el tamaño según tus necesidades */
    grid-template-rows: repeat(2, 275px); /* Ajusta el tamaño según tus necesidades */
    gap: 20px;
}
 
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}
 
.left-image img:hover,
.grid-item img:hover {
    transform: scale(1.05);
}

/* -------------------CONTENEDOR MOBILE ------------------------ */

.container-tab-mobile{
    width: 100%;
    
}

.mobile .titulo{
    padding-top: 20px;;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.mobile{
    text-align: center;
    justify-content: center;
    height: 80vh; /* Establecer la altura al 100% del viewport height */
    background-size: cover;
    transition: background-image 0.5s ease;
}

.tab-item-mobile{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    position: relative;
}


.tab-item-mobile .tab_btn_mobile{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.tab-item-mobile .tab_btn_mobile.active2{
    color: black;
}

.content-tab2{
    padding: 20px;
}

.content-tab2 .content2{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    top{transform: translateX(50px);opacity: 1;}
}

.content-tab2 .content2.active2{
    display: block;
}


.line2{
    position: absolute;
    top: 50px;
    left: 180px;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.gallery2 {
    padding-top: 430px;
    justify-content: center;
    align-items:  flex-end;
    align-content: flex-end;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    position: relative;
}

/* -------------------CONTENEDOR TV------------------------ */

.container-tab-tv{
    width: 100%;
    
}

.tv .titulo{
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

.tv{
    text-align: center;
    justify-content: center;
    height: 80vh; /* Establecer la altura al 100% del viewport height */
    background-size: cover;
    transition: background-image 0.5s ease;
}

.tab-item-tv{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    position: relative;
}


.tab-item-tv .tab_btn_tv{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.tab-item-tv .tab_btn_tv.active3{
    color: black;
}

.content-tab3{
    padding: 20px;
}

.content-tab3 .content3{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    top{transform: translateX(50px);opacity: 1;}
}

.content-tab3 .content3.active3{
    display: block;
}


.line3{
    position: absolute;
    top: 50px;
    left: 180px;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.gallery3 {
    padding-top: 430px;
    justify-content: center;
    align-items:  flex-end;
    align-content: flex-end;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    position: relative;
}

.container-tab-tv{
    width: 100%;
    
}

.tv .titulo{
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

.tv{
    text-align: center;
    justify-content: center;
    height: 80vh; /* Establecer la altura al 100% del viewport height */
    background-size: cover;
    transition: background-image 0.5s ease;
}

.tab-item-tv{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    position: relative;
}


.tab-item-tv .tab_btn_tv{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.tab-item-tv .tab_btn_tv.active3{
    color: black;
}

.content-tab3{
    padding: 20px;
}

.content-tab3 .content3{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    top{transform: translateX(50px);opacity: 1;}
}

.content-tab3 .content3.active3{
    display: block;
}


.line3{
    position: absolute;
    top: 50px;
    left: 180px;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.gallery3 {
    padding-top: 430px;
    justify-content: center;
    align-items:  flex-end;
    align-content: flex-end;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    position: relative;
}


/* -------------------CONTENEDOR LB----------------------- */

.container-tab-lb{
    width: 100%;
    
}

.lb .titulo{
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

.lb{
    text-align: center;
    justify-content: center;
    height: 80vh; /* Establecer la altura al 100% del viewport height */
    background-size: cover;
    transition: background-image 0.5s ease;
}

.tab-item-lb{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    position: relative;
}


.tab-item-lb .tab_btn_lb{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.tab-item-lb .tab_btn_lb.active4{
    color: black;
}

.content-tab4{
    padding: 20px;
}

.content-tab4 .content4{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    top{transform: translateX(50px);opacity: 1;}
}

.content-tab4 .content4.active4{
    display: block;
}


.line4{
    position: absolute;
    top: 50px;
    left: 180px;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.gallery4 {
    padding-top: 430px;
    justify-content: center;
    align-items:  flex-end;
    align-content: flex-end;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    position: relative;
}

.container-tab-lb{
    width: 100%;
    
}

.lb .titulo{
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

.lb{
    text-align: center;
    justify-content: center;
    height: 80vh; /* Establecer la altura al 100% del viewport height */
    background-size: cover;
    transition: background-image 0.5s ease;
}

.tab-item-lb{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    position: relative;
}


.tab-item-lb .tab_btn_lb{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.tab-item-lb .tab_btn_lb.active4{
    color: black;
}

.content-tab4{
    padding: 20px;
}

.content-tab4 .content4{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    top{transform: translateX(50px);opacity: 1;}
}

.content-tab4 .content4.active4{
    display: block;
}


.line4{
    position: absolute;
    top: 50px;
    left: 180px;
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}


.gallery4 {
    padding-top: 430px;
    justify-content: center;
    align-items:  flex-end;
    align-content: flex-end;
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    position: relative;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    /* Estilos para tablet */
    .tab-item, .tab-item-mobile {
        padding-left: 50px;
        padding-right: 50px;
    }

    .grid-item img {
        max-width: 100%;
    }

    .gallery2 {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    /* Estilos para móvil */
    .tab-item, .tab-item-mobile {
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid-item img {
        max-width: 100%;
    }

    .gallery2 {
        padding-top: 20px;
    }
}

/*------------------------------------------------*/

.containercard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    width: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price-details {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.product-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #0056b3;
}

.color-options {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid #ccc;
}

.color-option.active {
    border: 2px solid #007bff;
}

.size-options {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.size-option {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.size-option.active {
    background-color: #007bff;
    color: #fff;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
}

.arrow:hover {
    color: #007bff;
}
  



.containersearch {
   
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    
  }

  .search-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .search-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
